// Core variables and mixins
@import "variables.less";
@import "mixins.less";

@import "modals.less";
@import "close.less";

a.jobboard-view-details {
	display: inline-block;
	font-size: @font-size-large;
	padding: 7px 21px;
	background-color: @gray-dark;
	color: #fff;
	border-radius: @border-radius-base;
	text-decoration: none;
	
	&:hover {
		background-color: @gray;
		color: #fff;
	}
}

.filter-group {
	margin-bottom: 10px;
	
	input {
		margin-right: 10px;
	}
		
	label {
		font-weight: normal;
	}
}